</main>
<footer class="page-footer flex-row flex-align-center">
    <div class="container">
        <span>&copy; 
        <% if (locals.currentYear) { %>
            <%= currentYear %>
        <% } else { %>
            20XX
        <% } %>
        Alex Mooney</span>
    </div>
</footer>
</body>
</html>